<h1>Comment on <%= @recipe.title %></h1>


<h2>Comments</h2>
<% @recipe.comments.each do |comment| %>
  <p>
    <strong><%= comment.commenter %></strong>

    <i>says:</i>
    <%= comment.body %>
  </p>
<% end %>
 
<h2>Add a new comment:</h2>
<%= form_for([@recipe, @recipe.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_recipe_comment_path(@recipe, @comment) %> |
<%= link_to 'Back', recipe_comments_path(@recipe) %>