<div class="gridcontainer">
     
  
    <div class="col-md-2">
  
      <div id="search">
       <h4>SEARCH FOR:</h4>
        <%= form_tag recipes_path, :method => 'get' do %>
        
        <p> 
          <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "Recipe Name" %>
          <%= submit_tag "Search", :title => nil, :class => "btn btn-primary" %>
        </p>
        <% end %> 
      </div>

    <hr>

    <h4 class="category">CATEGORIES</h4><hr>
    
    <div id="cat_content">
      <ul id="categories">
        <% @categories.order(:name).each do |category| %>
        
        <li><%= link_to(category.name, category_path(category.id)) %></li>
        <% end %>
      </ul>   
    </div><!-- #cat_content -->
 
 </div><!-- end colm-sm-2 -->  


  <div class="col-md-8 text-center" style="background-color:#FFF5EC"; >   
    <div class="cooking">
    <div class="text-center"> 
      <%= will_paginate @recipes %> </div>

      <div class="panel panel-primary">
        <h1>Turkish Kitchen</h1></div>
      <table class='table table-hover'>
        <thead>
          <tr>
            <td><b>Photos</b></td>
            <td><b>Category</b></td>
            <td><b>Title</b></td>
            <td><b>Last Updated</b></td>
            <td colspan="2">&nbsp;</td>
          </tr>
        </thead>
        <tr>
          <% for recipe in @recipes %>
       
            <td><%= link_to recipe_path recipe do %>
              <%= image_tag recipe.image.url(:small) %>
              <% end %>
            </td>
            <td><%= recipe.category.name if recipe.category %></td>
            <td><%= link_to h(recipe.title), recipe %></td>
            <td><%= time_ago_in_words recipe.updated_at %> ago</td>
     
            <td><%= link_to 'View', recipe_path(recipe) %>
            <br>
            Comments :<%= recipe.comments.count %>
            </td>
            

            <% if current_user && current_user.admin? %>
            <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>

            <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
            <% end %>
          </tr>
        <% end %>
      </table>
          
     <div class="text-center"> <%= will_paginate @recipes %> </div>
      <br>

    <% if current_user && current_user.admin? %>
      <%= link_to 'New Recipe', new_recipe_path, :class => "btn btn-danger btn-lg" %>
    <% end %>

    </div> <!-- end .cooking -->
  </div><!-- end colm-sm-8 --> 


  <div class="col-sm-2 text-center" >

    <div id="translation">
      <h5 class="title">Translate</h5>
      <div id="google_translate_element"></div>
      <script type="text/javascript">
      function googleTranslateElementInit(){
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_RIGHT}, 'google_translate_element');
      }
      </script>
      <script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <div>
        <span style="white-space:nowrap">Powered by <a class="goog-logo-link" href="https://translate.google.com" target="_blank"><img src="https://www.google.com/images/logos/google_logo_41.png" width="37px" height="13px" style="padding-right: 3px">Translate</a></span>
      </div>
    </div>  

    <br><hr>
    <div class="fjit">
      <a href="http://feedjit.com/ir1/06bc5c49faf71594360150785f8758c0/"><img src="http://feedjit.com/b/06bc5c49faf71594360150785f8758c0.png" alt="" border="0" ISMAP /></a>
    </div>
  </div><!-- end second-colm-sm-2 -->

</div><!-- end container --> 


