<%= render 'layouts/navbar' %>
<div class="gridcontainer">
     
  <div class="row">
    <div class="col-sm-2" style="background-color:lavender;">

    <h4 class="category">CATEGORIES</h4><hr>
    <div id="content">

      <div id="category1">
          <ul id="posts">
              <li>post1</li>
              <li>post2</li>
              <li>post3</li>
          </ul><!-- #posts -->
      </div><!-- #category1 -->

      <div id="category2">
        <div id="sub-category1">
          <ul id="posts">
              <li>post4</li>
              <li>post5</li>
              <li>post6</li>
          </ul><!-- #posts -->
        </div><!-- #sub-category1 -->
        <div id="sub-category2">
          <ul id="posts">
              <li>post7</li>
              <li>post8</li>
              <li>post9</li>
          </ul><!-- #posts -->
        </div><!-- #sub-category2 -->
      </div><!-- #category2 -->
    </div><!-- #content -->
 </div><!-- end colm-sm-2 -->  

<div class="col-sm-8" style="background-color:lavenderblush;">
  <div id="cook_receipes">
  <img class="backbook">
    <div id="cook_content">
      <img class="photos" src="/assets/adanakebab.jpg">
      <div class="cooking">

        <h1>Listing Recipes</h1>
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Last Updated</th>
              <th colspan="2">&nbsp;</th>
            </tr>
          </thead>

          <% for recipe in @recipes %>
            <tr>
              <td><%= link_to h(recipe.title), recipe %></td>
              <td><%= time_ago_in_words recipe.updated_at %> ago</td>
          <!--     <td><%= recipe.instructions %></td>
              <td><%= link_to 'Show', recipe %></td> -->
              <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
              <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>

        </table>
        <br>

        <%= link_to 'New Recipe', new_recipe_path %>

     <!--    <h4>Ingredients:</h4>
        <ul>
          <li>1 lb lean ground mutton</li>
          <li>50 gr fat from lamb tail, finely chopped</li>
          <li>1 tsp crushed red pepper</li>
          <li>1/2 tsp black pepper</li>
          <li>1/2 tsp cumin</li>
          <li>1 tsp salt to taste</li>
          <li>Skewers or chop sticks</li>
        </ul>
        <h4>Preperation :</h4>
        <p>Leave the crushed red pepper in 1/2 cup of water <br>for about 2-3 hours, to get them softened. Then drain.</p>
        <p>Mix all the ingredients with your hands.<br> Grab a fist size mixture and skewer it. <br>Squeeze it on the skewer until it gets smooth and <br>lengthens to acquire the shape shown in the picture.<br> Cook on a grill or oven. You can grill<br> some vegetables as well on the side. <br>Refrigerate the skewered Adana Kebab <br>overnight to get a better flavor.</p> -->

      </div> <!-- end .cooking -->
    </div> <!-- end #cook_content -->
  </div> <!-- end #cook_receipes -->

</div><!-- end colm-sm-8 --> 

<div class="col-sm-2" style="background-color:lavender;">

  <div id="translation">
    <h5 class="title">Translate</h5>
    <div id="google_translate_element"></div>
    <script type="text/javascript">
    function googleTranslateElementInit(){
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_RIGHT}, 'google_translate_element');
    }
    </script>
    <script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <div>
      <span style="white-space:nowrap">Powered by <a class="goog-logo-link" href="https://translate.google.com" target="_blank"><img src="https://www.google.com/images/logos/google_logo_41.png" width="37px" height="13px" style="padding-right: 3px">Translate</a></span>
    </div>
  </div>  

  <br><hr>
  <div class="fjit">
    <a href="http://feedjit.com/ir1/06bc5c49faf71594360150785f8758c0/"><img src="http://feedjit.com/b/06bc5c49faf71594360150785f8758c0.png" alt="" border="0" ISMAP /></a>
  </div>
</div><!-- end second-colm-sm-2 --> 

  </div><!-- end row --> 
</div><!-- end container --> 


