<div class="input-form">
  <% if @recipe.errors.any? %>
  <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

  <%= form_for @recipe, url: recipes_path, html: {method: :post, multipart: true } do |f| %>

    <div class="row">
      <span class="col-md-12 text-center title-head">
       <h1>Add a Recipe</h1>
      </span>
    </div>

    <div class="row">
      <span class="col-md-4"></span>
      <span class="col-md-2">
        <%= f.label :Image %>
      </span>
      <span class="col-md-2 text-center">
       <%= f.file_field :image %>
      </span>
      <span class="col-md-4"></span>
    </div>
    <br>

    <div class="row">
      <span class="col-md-4"></span>
      <span class="col-md-2"> 
        <%= f.label 'Category:' %>
      </span>
      <span class="col-md-2">   
      <%= f.select :category_id, options_from_collection_for_select(Category.all, 'id', 'name'), :prompt => "Select One" %>     
      </span>
      <span class="col-md-4"></span>
    </div>
    <br>

    <div class="row">
      <span class="col-md-4"></span>
      <span class="col-md-2">
        <%= f.label 'Recipe Name:' %>
      </span>
      <span class="col-md-2">
        <%= f.text_field :title, placeholder: 'Recipe Name' %>
      </span>
      <span class="col-md-4"></span>
    </div>
    <br>

    <div class="row">
      <span class="col-md-4"></span>
      <span class="col-md-2"> 
        <%= f.label 'Ingredients:' %>
      </span>
      <span class="col-md-2">    
        <%= f.text_area :ingredients, placeholder: 'Ingredients' %>
      </span>
      <span class="col-md-4"></span>
    </div>
    <br>

    <div class="row">
      <span class="col-md-4"></span>
      <span class="col-md-2">
        <%= f.label 'Instructions:' %>
      </span>
      <span class="col-md-2">
        <%= f.text_area :instructions, placeholder: 'Instructions' %>
      </span>
      <span class="col-md-4"></span>
    </div>
    <br>

    <div class="row">
      <span class="col-md-5"></span>

      <span class="col-md-2 text-center" >
        <div class="buttons_div">
           <%= f.submit :Create, :class => "btn btn-danger btn-lg" %> 
           <%= button_tag "Cancel", type: :cancel, :class => "btn btn-danger btn-lg" %></span>
        </div>
      </span>

      <span class="col-md-5"></span>
    </div>
   
<% end %>
  
  <div class="end">
    <span class="col-md-12"><hr></span>
  </div>
</div>
