<%= form_for @recipe, url: recipes_path, html: {method: :get, multipart: true } do |f| %>

<div class="row">
  <span class="col-md-12 text-center title-head">
   <h2><%=h @recipe.title %> 
    <% if current_user && current_user.admin? %>[ <%= link_to 'Edit', edit_recipe_path(@recipe) %>] 
    <%end%></h2>
  </span>
</div>

<div class="row">
  <span class="col-md-12 text-center">
  <h3>Category:
  <%=h @recipe.category.name %></h3></span>
</div>

<div class="row">
  <span class="col-md-4 text-center">
  <%= image_tag @recipe.image.url (:medium)%></span>

  <span class="col-md-4 text-center">
  <h4>Ingredients:</h4>
  <%=f.text_area :ingredients, readonly: true%></span>
</div>

<div class="row">
  <span class="col-md-2"></span>
  <span class="col-md-8 text-center">
  <h4>Instructions:</h4>
  <%=f.text_area :instructions, readonly: true%></span> 
  <span class="col-md-2"></span>
</div>

<div class="row">
  <span class="col-md-12 text-center">
  <%= link_to 'Back to List', recipes_path, :class => "btn btn-danger btn-lg" %></span>
</div>

<% end %>
<nav>
  <ul class="pager">
    <% if @previous_recipe %>
      <li class="previous" style="color:red">
        <%= link_to recipe_path(@previous_recipe) do %>
          <span aria-hidden="true">&larr; Older</span>
        <% end %>
    <% end %>
    </li>
    <% if @next_recipe %>
      <li class="next">
        <%= link_to recipe_path(@next_recipe) do %>
          <span aria-hidden="true">Newer &rarr; </span>
        <% end %>
      <% end %>
    </li>
  </ul>
</nav>

<div class="row">
  <div class="col-sm-12 text-center">
    <!-- <h2>Comments</h2> -->
      <% @recipe.comments.each do |comment| %>
        <p>
          <strong>Commenter:</strong>
          <%= comment.commenter %>
          <strong>Comment:</strong>
          <%= comment.body %>
        </p>
      <% end %>

<div class="row">
  <div class="col-md-3"></div>
  
  <div class="col-md-6">
    <div class="contacts-container">
    <span class="text-left">
    <h3>Add a comment:</h3></span>
      <%= form_for([@recipe, @recipe.comments.build]) do |f| %>
      <div class="row">
        <span class="col-md-4 text-right">
          <%= f.label :Name %>  </span>
        <span class="col-md-8 text-left">
        <%= f.text_field :commenter %>
        </span>
      </div><br>
      <div class="row">
        <span class="col-md-4 text-right">
          <%= f.label :Comment %></span>
        <span class="col-md-8 text-left">
          <%= f.text_area :body %></span>
        <div>
          <span class="col-md-12"><hr></span>
        </div>
      </div>
      <div class="text-center">
        <%= f.submit "Send Message", class: "btn btn-primary" %>
      </div>
    </div>     
      <% end %>
  </div>

  <div class="row">
    <span class="col-md-12">
      <%= link_to 'Back to Home Page', recipes_path %> |
      <%= link_to 'Manage Comments', recipe_comments_path(@recipe) %></span>
  </div>
  <div class="end">
    <span class="col-md-12"><hr></span>
  </div>
</div>

  

    






       
       

        

