<h2><%=h @recipe.title %> [ <%= link_to 'Edit', edit_recipe_path(@recipe) %>] </h2>
<p>
  <strong>Category:</strong>
  <%=h @recipe.category.name %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%=h @recipe.ingredients %>
</p>

<p>
  <strong>Instructions:</strong>
  <%=h @recipe.instructions %>
</p>

 
<%= link_to 'Back', recipes_path %>
