<%= form_for(@category) do |c| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <span class="col-md-12 text-center">
    <%= c.label :name %><br />
    <%= c.text_field :name %>
  </span>
</div>

<div class="row">
  <span class="col-md-12 text-center">
  <div class="actions">
    <%= c.submit :Submit, :class => "btn btn-danger btn-lg" %></span>
  </div>
<% end %>

</div>

  