<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Magic Hands</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"> <%= link_to 'Recipes', recipes_path %></li>

        <% if current_user && current_user.admin?  && @categories %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Category
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% @categories.order(:name).each do |category| %>
            <li><%= link_to(category.name, category_path(category.id)) %></li>
            <% end %>  
          </ul>
        </li>
        <% end %>
        <li><%= link_to 'Measurements', pages_measure_path %></li></li>
     
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">About
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">About Me</a></li>
            <li><%= link_to 'About Turkey', pages_about_path %></li>
            <ul>
               <li><a href="http://www.tourismturkey.org/">Tourism Turkey</a></li>
              <li><a href="http://www.turkish-cuisine.org/">Turkish cuisine</a></li>
    
              <li><a href="http://www.turkishculture.org/">Turkish culture</a></li>
               <li><a href="http://www.http://goturkey.com/org/">Go Turkey</a></li>
             </ul>
          </ul>
        
        <li><%= link_to 'Contact Me', new_contact_path %></li>
      </ul>

      <% if !current_user %>
        <ul class="nav navbar-nav navbar-right">
          
          <li><%= link_to ' Sign Up', new_user_registration_path, :class => "glyphicon glyphicon-user "%></li>
          <li><%= link_to ' Log In', user_session_path, :class => "glyphicon glyphicon-log-in" %></li>
      <%else%>
        <ul class="nav navbar-nav navbar-right">
   
          <li> <%= link_to ' Edit Profile', edit_user_registration_path, :class => "glyphicon glyphicon-pencil" %></li>
          <li> <%= link_to ' Log Out', destroy_user_session_path, method: :delete, :class => "glyphicon glyphicon-log-out" %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>

